---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Articles from '../components/Articles.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Easy Bank">
	<Header />
	<main>
		<Hero />
		<div class="features">
			<h2>Why Choose Easybank?</h2>
			<p>  We leverage Open Banking to turn your bank account into your 
				financial hub. <br> Control your finances like never before.
			</p>
			<Features/>
		</div>
		<div class="articles">
			<h2>Latest Articles</h2>
			<Articles/>
		</div>
	</main>
	<Footer/>
</Layout>

<style>
	main {
		background-color: var(--VeryLightGray);
	}

	.features {
		background-color: var(--LightGrayishBlue);
		position: relative;
		z-index: 1;
		bottom: 100px;
		padding: 100px 200px 5px 200px;
	}

	h2 {
		font-size: 45px;
		font-weight: 300;
		color: var(--DarkBlue);
		width: 50%;
		margin: 0px;
	}

	.features > p {
		font-size: 25px;
		line-height: 30px;
        color: var(--GrayishBlue);
	}

	.articles {
		margin-top: -30px;
		padding: 0 200px 100px 200px;
	}

</style>
