---
export interface Props {
	name: string;
	href: string;
}

const { href, name } = Astro.props;
---

<li><a href={href}>{name}</a></li>

<style>
	a {
		color: var(--GrayishBlue);
		text-decoration: none;
		padding: 15px 0 33px 0;
		width: 7ch;
	}
	
	a:hover{
		cursor: pointer;
		border-bottom: 2px solid var(--LimeGreen);
	}
</style>
