---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Next generation digital banking">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--navColor: gray;
		--DarkBlue: hsl(233, 26%, 24%);
		--LimeGreen: hsl(136, 65%, 51%);
		--BrightCyan: hsl(192, 70%, 51%);
		--gradient: linear-gradient(var(--LimeGreen),var(--BrightCyan));
		--GrayishBlue: hsl(233, 8%, 62%);
		--LightGrayishBlue: hsl(220, 16%, 96%);
		--VeryLightGray: hsl(0, 0%, 98%);
		--White: hsl(0, 0%, 100%);
	}

	body{
		font-size: 18px;
		font-family: 'Public Sans', sans-serif;
	}
</style>
